extends partial/layout

include mixins

block site_title
    != page.title + " · " + config.title

block description
    - var description = page.description || strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150);
    meta(name="description", content=description)

block content
  .autopagerize_page_element: .content: .post-page
    include mixins
    +make_post(page, true)
    .share
      .facebook
        a.fa.fa-facebook(href="https://www.facebook.com/sharer/sharer.php?u=" + config.url + "/" + page.path, data-js="facebook-share", ref="nofollow", target="_blank")
      .twitter
        a.fa.fa-twitter(href=url_for("http://twitter.com/home?status=" + config.url+"/"+page.path), data-js="twitter-share")
    - var prev = page.prev ? page.prev.path : false;
    - var next = page.next ? page.next.path : false;
    .pagination
      ul.clearfix
        if prev
          li.pre.pagbuttons
            a.btn(role="navigation",href=url_for(prev), title=page.prev.title)!= __('prev_post')
        if next
          li.next.pagbuttons
            a.btn(role="navigation",href=url_for(next), title=page.next.title)!= __('next_post')
    if page.comments
        include partial/comments
